/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

@font-face{
    font-family: "GTWalsheim";
    src: url(./fonts/GTWalsheimv2Manual-Regular.woff2) format('woff2'),
    url(./fonts/GTWalsheimv2Manual-Regular.woff) format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: "GTWalsheim";
    src: url(./fonts/GTWalsheimv2Manual-Bold.woff2) format('woff2'),
    url(./fonts/GTWalsheimv2Manual-Bold.woff) format('woff');
    font-style: normal;
    font-weight: 600;
}
@font-face{
    font-family: "GTWalsheim";
    src: url(./fonts/GTWalsheimv2Manual-Black.woff2) format('woff2'),
    url(./fonts/GTWalsheimv2Manual-Black.woff) format('woff');
    font-style: normal;
    font-weight: 900;
}

html, body{
	width: 100%;
	height: 100%;
}

body {
    font-family: 'GTWalsheim';
    font-weight: 400;
	font-size: 18px;
    color: white!important;
	overflow-x: hidden;
}

.logo {
    display: inline-block;
    position: relative;
    z-index: 11;
    height: 36px;
    margin-bottom: 17px;
}
.logo img {
    height: 100%;
}


h1 {font-size: 76px; font-size: 3.96vw; line-height: 1;	}
h2 {font-size: 36px; margin: 8px 0;}
p {font-size: 46px; font-size: 2.39583333vw;}
a {text-decoration: underline;}
	
.question-timer {
    font-size: 24px;
    opacity: 0.8;
    margin-top: 52px;
}
.question-title{width: 75%; padding-bottom: 32px;}
.question-answer{
    text-align: center;
    font-size: 28px;
    display: inline-block;
    margin-top: 25px;
    height: 78px;
    line-height: 78px;
    border-radius: 39px;
    width: 490px;
    background-color: #731982;
}

.screen{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.p-top{
    padding-top: 118px!important;
}
.row-bounces{
    display: flex;
    align-items: center;
    padding-left: 110px;
    padding-bottom: 45px;
}
.row-winners{
    display: flex;
    flex-direction: column;
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 50px;
}

.row-winners .content{
	display:flex;
    align-items: center;
	flex-direction: row;
}
.row{
	padding: 0 110px;
}
.row-bottom{
    background: white;
    padding: 136px 0 0 110px;
    flex: 1;
    position: relative;
}


.title{
    min-width: 730px;
    min-width: 38vw;
}
.content{
	display:flex;
	flex-direction: column;
}
.bounces{   
    width: 755px;
    height: 280px;
    right: 0px;
    position: absolute;
    overflow: hidden;
}
.bounces-winner {
    width: 755px;
    height: 280px;
    right: 0;
    top: 21%;
    position: absolute;
}

.bounce{
	position: absolute;
    height: 280px;
    width: 280px;
    border-radius: 50%;
    top: 0;
}
.bounce-left{
    left: 0;
}
.bounce-middle{
    left: 307px;
}
.bounce-right{
    left: 615px;
}
.bounces-winner .bounce-middle{
	background-image: url(./img/box1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    height: 300px;
	top: -10px;
    border-radius: 0;
}

p.congrats-text{
    font-size: 30px;
    font-size: 1.5633333vw;
}
h2.congrats-text {
    font-size: 60px;
    font-size: 3.126666vw;
}

.bg-mfgreen, .btn-mfgreen{background-color: #00b856;}
.bg-mfpurple, .btn-mfpurple{background-color: #731982;}
.bg-white{background-color: white;}
.bg-img1{background-image: url(./img/stage2.jpg); background-position: top right; background-repeat: no-repeat;}
.color-mfgreen{color: #00b856;}
.color-mfpurple{color: #731982;}
.color-white{color: white;}
.hide{ display: none;}
.pic-qr{background-image:url('./img/qr.png'); background-position: center;}
.qr{background-image:url('./img/qr.svg');width: 200px;height: 200px;background-size: contain; margin-right: 4%;}
.text-center{text-align: center;}
.text-muted{opacity: .7;}
.text-small{font-size: 12px;}
.text-bold{font-weight:bold;}

.winners{
    width: 100%;
    position: relative;
    padding-left: 40px;
    display: flex;
}
.winner{
	width: 20%;
    text-align: center;
}
.winner-pic {    
	width: 60px;
    height: 60px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 50%;
    display: flex;
}
.winner-pic img{
    max-width: 100%;
    margin: auto;
}
.winner-phone{
	font-size: 20px;
}
.winner-phone > .big{
	font-size: 32px;
}